:root {
    --dark: #26292F;
    --mid: #36393F;
    --light: #46494F;
    --color: #F04747;
}

/* body styles */

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: var(--mid);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1;
}

/* header styles */

h1 {
    text-align: center;
}

header {
    background-color: var(--mid);
}
/* footer styles */

footer {
    text-align: center;
    background-color: var(--mid);
    position: relative;
    bottom: 0;
    height: max-content;
    order: 4;
}

/* main styles */

.today, .week, .search {
    border: solid var(--mid);
    background-color: var(--dark);
}

/* search styles */

aside {
    padding: 0.5rem;
}

#city-input {
    text-align: center;
    width: 100%;
    min-width: 15rem;
    box-sizing: border-box;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#search-btn {
    background-color: var(--color);
    height: 2.5rem;
    width: 100%;
}

button {
    height: 2.5rem;
    border: none;
    outline: none;
    width: 100%;
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--light);
    color: white;
    border-radius: 0.5rem;
}

.history {
    position: relative;
}

.close {

    width: 9%;
    position: absolute;
    top: 0;
    right: 0;
}

/* today styles */

#today-container {
    text-align: center;
    order: 1;
    min-width: 300px;
    padding: 1rem;
}

#today-container p, h2{
    margin: 0.5rem;
}

#temperature, #city-name, #weather-icon{
    font-size: 3rem;
    min-width: 100px;
}

/* week styles */

#week-container {
    margin-bottom: 1rem;
}

.forecast-item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--light);
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: auto;
    text-align: center;
}

.date, .temp, .forecast-item img {
    padding: 1rem;
    font-size: 1.5rem;
    flex: auto;
}

.date {
    margin: 0;
    order: 2;
    min-width: 180px;
}

.temp {
    margin: 0;
    order: 3;
}

.forecast-item img {
    order: 1;
    max-width: 2rem;
}

/* mobile device sizing */
@media all and (min-width: 768px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header, footer {
        width: 100%;
    }

    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }

    aside {
        order: 1;
        flex: 1;
    }

    footer {
        order: 4;
    }
}

/* computer device sizing */
@media all and (max-width: 768px) {
    header {
        display: none;
    }
    main {
        height: auto;
    }
    footer {
        
    }
}