body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #36393F;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#city-input {
    text-align: center;
    width: 100%;
    min-width: 15rem;
    box-sizing: border-box;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#search-btn {
    background-color: #F04747;
    height: 2.5rem;
    width: 100%;
}

button {
    height: 2.5rem;
    border: none;
    outline: none;
    width: 100%;
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #46494F;
    color: white;
    border-radius: 0.5rem;
}

aside {
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #26292F;
    border: solid #36393F;
}

.today, .week {
    border: solid #36393F;
}

main {
    flex: 1;
    background-color: #26292F;
}

header {
    max-height: 80px;
    background-color: #36393F;
}

footer {
    text-align: center;
    background-color: #36393F;
    position: relative;
    bottom: 0;
    height: max-content;
    order: 4;
}

.forecast-item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #46494F;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: auto;
}

.date, .temp, .forecast-item img {
    padding: 1rem;
}

.date {
    margin: 0;
    order: 2;
    flex: auto;
    font-size: 1rem;
    min-width: 180px;
}

.temp {
    margin: 0;
    order: 3;
    flex: auto;
    font-size: 1rem;
}

.forecast-item img {
    order: 1;
    flex: auto;
    max-width: 2rem;
}

#today-container {
    text-align: center;
    margin-bottom: 3rem;
    order: 1;
    min-width: 300px;
}

#forecast-container {
    margin-bottom: 5rem;
    text-align: center;
}

/* mobile device sizing */
@media all and (min-width: 768px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header, footer {
        width: 100%;
    }

    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }

    aside {
        order: 1;
        flex: 1;
    }

    footer {
        order: 4;
    }
}
